/* CSS Document */

:root {
    
/*	hover*/
	--hover: #00FFF3;
    --index-overlay: rgba(0,255,243,0.55);
	--hover-btn: #00FFD3;
/*	hover*/
	
/*	text*/
	--t-md: white;
	--t-sm: white;
/*	text*/
	
/*	card*/
	--bg-cd: #ccc;
	--cd-t-sm: black;
	--cd-t-md: black;
/*	card*/
	
/*	background*/
	--bg: #111;
	--bg-rev: #fff;
/*	background*/
}