/* CSS Document */

.left-ul li h3{
	font-size: 1.6vw;
	font-weight: bolder;
	display: inline-block;
}

.left-ul li div{
	transition: 3s;
	border-bottom: 1px solid #BABABA;
	border-radius: 5px;
	box-shadow: 0px 4px 8px 0 #ccc;
}

.left-ul li div:hover{
	background-color: var(--hover);
	transition: 0.5s all;
}

.left-ul span {
	font-size: 1.4vw;
	cursor: pointer;
	margin: 8px;
	width: 5%;
}

.left-ul > li{
	margin-left: -15%;
}

.left-ul li ul{
	margin: 10px 0 20px 0;
	margin-left: -8%;
	padding: 5px 10%;
}

.left-ul li ul li{
	padding: 2px 15%;
	margin: 1px -2% 1px 6%;
	font-size: 1.3vw;
	animation: 1.4s fadeInLeft;
	transition: 3s;
	border-radius: 5px;
	box-shadow: 0px 4px 8px 0 #ccc;
	transform: scale(1);
}

.left-ul li ul li:hover{
	background-color: var(--hover);
	border-radius: 5px;
	transition: 1s all;
	transform: scale(1.1);
}

.left-ul li div{
	animation: 0.8s fadeInLeft;
}

.left-ul-hidden-list{
	height: 0px;
	overflow: hidden;
}

.left-ul-show-list{
	height: auto;
	overflow: hidden;
}
